<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-f9d52bd5d9062fdfc37438ef187ac2936efbe24f8814260e04dc22219c2ac86d.css" integrity="sha256-+dUr1dkGL9/DdDjvGHrCk2774k+IFCYOBNwiIZwqyG0=" media="all" rel="stylesheet">
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-6f65ac6dfd4a1737181a4b0b58ec7ac5d44734ee7c264981114da6a16c5c6e70.css" integrity="sha256-b2Wsbf1KFzcYGksLWOx6xdRHNO58JkmBEU2moWxcbnA=" media="all" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width">
  <title>Phuong 'J' Le H. CV</title>
  <link rel="assets" href="https://assets-cdn.github.com/">
  <meta content="noindex, follow" name="robots">
  <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/gist-3edeef68b18cc8f04918b786e52a923ca59a29909832b4130dd2ecd5b029faef.css" integrity="sha256-Pt7vaLGMyPBJGLeG5SqSPKWaKZCYMrQTDdLs1bAp+u8=" media="all" rel="stylesheet">
  <style type="text/css">
    @page {
      size: A4;
    }
    @media print {
      .page-break:after {
        content:"";
        display: block;
        page-break-after: always;
      }
    }
  </style>
</head>
<body>
  <div role="main">
    <div class="container new-discussion-timeline experiment-repo-nav">
      <div class="file">
        <div class="readme">
          <article class="markdown-body entry-content" itemprop="text">
            {{ content }}
          </article>
        </div>
      </div>
    </div>
  </div>
  <script crossorigin="anonymous" integrity="sha256-1cdy43iaaZRstd4rQoAh+PoxMNSU5FWh1ErTVFR1kCE=" src="https://assets-cdn.github.com/assets/frameworks-d5c772e3789a69946cb5de2b428021f8fa3130d494e455a1d44ad35454759021.js"></script>
  <script async="async" crossorigin="anonymous" integrity="sha256-agmoE9+uJzt2c4n8SHkHTVWUwR5hAPxshHyLVqDb5ys=" src="https://assets-cdn.github.com/assets/github-6a09a813dfae273b767389fc4879074d5594c11e6100fc6c847c8b56a0dbe72b.js"></script>
</body>
</html>
